// Sys.init: bootstrap alternative (tu traductor también hace bootstrap automáticamente)
function Sys.init 0
// ponemos un valor de ejemplo para n y llamamos a Main.computeSum
push constant 3   // Este es el valor de n
call Main.computeSum 1
// al terminar queda el resultado en la pila
label END
goto END
